In this notebook we will create a new variable for the V-Dem/Frasier data that notes whether America made an alliance with any of the countries in the data-set or not. A 0 will be used for no alliance, and a 1 will code for an alliance.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#to be changed below
FV_data = pd.read_csv("V-Dem_Frasier_data_1970.csv")
alliance_data = pd.read_csv("US_allys_45to70.csv")

In [8]:
alliance_data.head()

   Unnamed: 0          state_name2
0       35501                Haiti
1       35567   Dominican Republic
2       35633              Jamaica
3       35677  Trinidad and Tobago
4       35723             Barbados

In [5]:
alliance_entities = alliance_data['state_name2'].tolist()
FV_entities1 = FV_data['Countries'].tolist()
FV_entities2 = FV_data['Entity'].tolist()

In [7]:
only_alliance=[i for i in alliance_entities if i not in FV_entities2]
print(only_alliance)
print(len(only_alliance))

['German Federal Republic']
1

It can thus be seen that the only discrepancy is the alliance data refers to the "German Federal Republic" which is accurate for the time period, before the fall of the Berlin Wall, but the other data refers to "Germany" for west Germany, thus a change can be made changing German federal republic to just Germany for the purposes of any merging.

In [9]:
alliance_data=alliance_data.replace('German Federal Republic', 'Germany')
alliance_data.head()

   Unnamed: 0          state_name2
0       35501                Haiti
1       35567   Dominican Republic
2       35633              Jamaica
3       35677  Trinidad and Tobago
4       35723             Barbados

In [11]:
alliance_data["alliance"]=1

In [14]:
alliance_data.rename(columns={'state_name2': 'Entity'}, inplace=True)

In [17]:
merge_try = pd.merge(FV_data,alliance_data,on='Entity',how='left')

In [18]:
merge_try

,Unnamed: 0_x,Unnamed: 0.1,Entity,ISO_Code,indiv_libs_vdem_owid,electdem_vdem_owid,libdem_vdem_owid,lib_dich_row_owid,Year,Countries,...,Administrative requirements,Regulatory Burden,Starting a business,Impartial Public Administration,Licensing restrictions,Tax compliance,Business regulations,Regulation,Unnamed: 0_y,alliance
0,0,0.0,Afghanistan,AFG,0.266,0.160,0.104,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1.0,Albania,ALB,0.006,0.173,0.055,0.0,1970.0,Albania,...,NaN,NaN,NaN,1.75,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2.0,Algeria,DZA,0.428,0.084,0.065,0.0,1970.0,Algeria,...,NaN,NaN,NaN,3.91,NaN,NaN,NaN,3.63,NaN,NaN
3,3,3.0,Angola,AGO,0.024,0.010,0.035,0.0,1970.0,Angola,...,NaN,NaN,NaN,2.37,NaN,NaN,NaN,NaN,NaN,NaN
4,4,4.0,Argentina,ARG,0.354,0.105,0.086,0.0,1970.0,Argentina,...,NaN,NaN,NaN,2.42,NaN,NaN,NaN,5.31,37038.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
177,177,NaN,NaN,ARE,NaN,NaN,NaN,NaN,1970.0,United Arab Emirates,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
178,178,NaN,NaN,BHS,NaN,NaN,NaN,NaN,1970.0,"Bahamas, The",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
179,179,NaN,NaN,BLZ,NaN,NaN,NaN,NaN,1970.0,Belize,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
180,180,NaN,NaN,BRN,NaN,NaN,NaN,NaN,1970.0,Brunei Darussalam,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
181,181,NaN,NaN,MNE,NaN,NaN,NaN,NaN,1970.0,Montenegro,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
merge_try['alliance'] = merge_try['alliance'].fillna(0)

In [20]:
merge_try.to_csv("V-Dem_Frasier_data_1970_alliances.csv")